<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.biarby.app"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. BiarBy</name>

    <description>
        Анонимный мессенджер
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#000000" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/d3821495fdc57251c627b7a10099db0a.png" density="ldpi" />
        <icon src="res/android/icon/3636a5a414345f820b7d69808bf1b428.png" density="mdpi" />
        <icon src="res/android/icon/b7f4f5e88b14be3097539deacc098384.png" density="hdpi" />
        <icon src="res/android/icon/cbcc8c99550dc8e3746458485188c4bb.png" density="xhdpi" />
        <icon src="res/android/icon/290b8690523fd695bec2fc9383e60949.png" density="xxhdpi" />
        <icon src="res/android/icon/8b79fbebce2558ff000c8ce3dfdd6377.png" density="xxxhdpi" />

        <splash src="res/android/screen/40db11a240dc5df223d3c09560e9c56e.png" density="port-hdpi"/>
        <splash src="res/android/screen/690e9abddc26388b8c6657de9f275982.png" density="port-ldpi"/>
        <splash src="res/android/screen/938a4fbf4bbf031aea03d882a98ac826.png" density="port-mdpi"/>
        <splash src="res/android/screen/61cee714c50e6eca82f9e6dfc12fb665.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/5333759be5967badb812c8a0642b84ce.png" width="180" height="180" />
        <icon src="res/ios/icon/2890fab4c70e7e680a669c3f64e2e088.png" width="60" height="60" />
        <icon src="res/ios/icon/5edcea88d441c7a65a9aef97e60dbd9e.png" width="120" height="120" />
        <icon src="res/ios/icon/2cd114380ae4c74b0fb2147b36644b13.png" width="76" height="76" />
        <icon src="res/ios/icon/d979449e8fd89234067daf3626799609.png" width="152" height="152" />
        <icon src="res/ios/icon/31124ea96fd3446d9af50b8b6fdc2d5e.png" width="57" height="57" />
        <icon src="res/ios/icon/c9f7771176b2859eb0c9b47cc0066f8e.png" width="114" height="114" />
        <icon src="res/ios/icon/cae7d88c71446961eddd019e44ac264d.png" width="72" height="72" />
        <icon src="res/ios/icon/d731fa515afb62afaee5c52621238a1d.png" width="144" height="144" />
        <icon src="res/ios/icon/368708c450e23b6bede817d66d3f04aa.png" width="167" height="167" />
        <icon src="res/ios/icon/9406337ba71fad59757c8ae7c3049afe.png" width="29" height="29" />
        <icon src="res/ios/icon/dd6e8777a288fa426f262f0f8c702c9f.png" width="58" height="58" />
        <icon src="res/ios/icon/44087e36f699cc161622da400bbf2312.png" width="87" height="87" />
        <icon src="res/ios/icon/f78d17a926f65ea8bec187213d127eef.png" width="167" height="167" />

        <splash src="res/ios/screen/78cfa11f34459a8e5060ad6e1cf6c36c.png" />
        <splash src="res/ios/screen/47606b56a5ca02d8d95ad4e78cb81828.png" />
        <splash src="res/ios/screen/668d5e0147e274175c0e67cf089f52bc.png" />
        <splash src="res/ios/screen/3df3d75a273743db9acac285482cc9e3.png" />
        <splash src="res/ios/screen/964ad2bd0df5bb6dd231c2e8b0cb5b77.png" />
        <splash src="res/ios/screen/357392624aa8021e14e19d27f6c9053b.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/e1b9b6b79b1096a310750e5fc60ae865.png" target="StoreLogo" />
        <icon src="res/windows/icon/2851ee337f9a6c7dde9b7bcc51c6b331.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/68a697353b76af6a8377c26445b1d666.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/62a8fe94454cfdc5af38cb970a2508a8.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/cc448bad9409de03a7e9af3a28ef61ea.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/5905f0662c885f858d893e7ee8d89815.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/8bea2388bc7b654bbb76910189e4527d.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/8645431d5eb1c0240ee200414426ed79.png" target="SplashScreen"/>
        <splash src="res/windows/screen/addff25825e13bde00832921d63430b7.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>